 <br />
 <div class="container <%= @api_color %>">
 <div class="jumbotron">
      <h1 class="title"><%= @final_output %> <%= @category_name %></h1>
      <h2 class="subtitle">
        <%= @api_description %>
      </h2>
  </div>
</div>