 <br />
 <div class="container <%= @api %>">
 <div class="jumbotron">
      <h1 class="title"><%= @final %> <%= @category_name %></h1>
      <h2 class="subtitle">
        <%= @api_d %>
      </h2>
  </div>
</div>